@use '../abstract/var';

.banner-1 {
    background-image: url('../assets/banner-1.png');
}

.banner-2 {
    background-image: url('../assets/banner-2.png');
}

.banner-3 {
    background-image: url('../assets/banner-3.png');
}

.banners {
    width: 100%;
    //  height: 100vh;
    height: 35rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;
}

.banners-titulo {
    --bs-bg-opacity: 0.2;
}
